    <!--Page Header-->
<header class="masthead" style="background-image: url('@ViewData["HeaderImage"]')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@ViewData["HeaderTitle"]</h1>
                    @if (ViewData["SubHeader"] is null)
                    {
                        <span class="meta">
                            Posted by
                            <a asp-controller="Home" asp-action="Author" asp-route-authorId="@ViewData["AuthorId"]">@ViewData["AuthorName"]</a>
                            on @ViewData["PostDate"]
                        </span>
                    }
                    else
                    {
                        <span class="subheading">@ViewData["SubHeader"]</span>
                    }
                </div>
            </div>
        </div>
    </div>
</header>